<div>
   <h1>Music Festival</h1>
   <p>This list below is based on music festival using a cloud api</p>
   <hr>
</div>
<div  class="container">
   <table class="table table-striped">
      <thead>
         <tr>
            <!-- <th>Id</th> -->
            <th >Record Label</th>
            <th >Festival</th>
            <th >Band</th>
            
         </tr>
      </thead>
      <tbody>
         <tr  >
            <td > Pacific Records</td>
            <td >Twisted Tour</td>
            <td >Squint-281</td>
          
         </tr>
         <tr  >
            <td > Still Bottom</td>
            <td >TSmall night in</td>
            <td >Anti Records</td>
            
         </tr>
      </tbody>
   </table>
</div>
